<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/blogs.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <title>Blog</title>
</head>

<body>
    <header>
        <nav class="navMain" id="hometop">
            <div class="content">
                <div class="logo">
                    <a href="/"><img class="logoBrabu" src="img/logo.png" alt="" /></a>
                </div>
                <ul class="navLinks">
                    <div class="icon cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                    <li><a class="aTagNav" href="/">Home</a></li>
                    <li><a class="aTagNav" href="#about">About</a></li>
                    <li><a class="aTagNav" href="#projects">Projects</a></li>
                    <li><a class="aTagNav" href="#services">Services</a></li>
                    <li><a class="aTagNav" href="#clients">Clients</a></li>
                    <li><a class="aTagNav" href="/gallery">Gallery</a></li>
                    <li><a class="aTagNav" href="/blogs">Blog</a></li>
                </ul>
                <div class="iconsSocialNav">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fas fa-sign-in-alt"></i></a>
                </div>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <p class="hometop"><a href="#hometop"><svg class="svgHomeTop" xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"
                            clip-rule="evenodd" />
                    </svg></a></p>
        </nav>
    </header>


    <section class="sectionBlogger">
        <div class="bloggerMainDiv">
            <h1 class="heading1">Bl<span>ogg</span>er</h1>
            <% blogs.forEach(element=> { %>
                <div class="bloggerDiv">
                    <div class="bloggerImage">
                        <img class="bloggerImageimg" src="<%= element.imageBlog.url %>" alt="">
                    </div>
                    <div class="bloggerContent">
                        <h2>
                            <%= element.name %>
                        </h2>
                        <p class="javaScriptPTag">
                            <%= element.paragraph %>
                        </p>
                    </div>
                    <% }) %>
                </div>
    </section>






</body>

</html>