<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="styles/nav.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
	<link rel="stylesheet" href="styles/gallery.css" />
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/footer.css" />
	<title>Gallery</title>
</head>

<body>
	<header>
		<nav class="navMain" id="hometop">
			<div class="content">
				<div class="logo">
					<a href="/"><img class="logoBrabu" src="img/logo.png" alt="" /></a>
				</div>
				<ul class="navLinks">
					<div class="icon cancel-btn">
						<i class="fas fa-times"></i>
					</div>
					<li><a class="aTagNav" href="/">Home</a></li>
					<li><a class="aTagNav" href="#about">About</a></li>
					<li><a class="aTagNav" href="#projects">Projects</a></li>
					<li><a class="aTagNav" href="#services">Services</a></li>
					<li><a class="aTagNav" href="#clients">Clients</a></li>
					<li><a class="aTagNav" href="/gallery">Gallery</a></li>
					<li><a class="aTagNav" href="/blogs">Blog</a></li>
				</ul>
				<div class="iconsSocialNav">
					<a href=""><i class="fab fa-facebook"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
					<a href=""><i class="fas fa-sign-in-alt"></i></a>
				</div>
				<div class="icon menu-btn">
					<i class="fas fa-bars"></i>
				</div>
			</div>
			<p class="hometop"><a href="#hometop"><svg class="svgHomeTop" xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"
							clip-rule="evenodd" />
					</svg></a></p>
		</nav>
	</header>

	<h1>Ga<span>lle</span>ry</h1>
	<section class="carouselSection">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<% clients.forEach((element , index)=> { %>
					<% element.posters.forEach(e=> { %>
						<div class="carousel-item <%= index == 0 ? " active" : "" %>" >
							<img class="classCarouselposter" src="<%=e.url%>" alt="">
						</div>
						<% }) %>
							<% }) %>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>




	<footer>
		<div class="footerclass">
			<h1>Bra<span>bupri</span>nts</h1>
			<h3>You Can Reach Us At</h3>
			<p class="footerptag">Address</p>
			<p><i>no 123 Lorem ipsum dolor sit amet, consectetur</i></p>
			<div class="iconsSocial">
				<a href=""><i class="fab fa-facebook"></i></a>
				<a href=""><i class="fab fa-twitter"></i></a>
				<a href=""><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="javascript/gallery.js"></script>
	<script src="javascript/nav.js"></script>
</body>

</html>