<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../nav/nav.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="./gallery.css">
    <title>Gallery</title>
</head>
<body>
    <header>
        <nav class="navMain">
            <div class="content">
                <div class="logo">
                    <a href="./index.html"><img class="logoBrabu" src="../img/logo.png" alt=""></a>
                </div>
                <ul class="navLinks">
                    <div class="icon cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                    <li><a class="aTagNav" href="../index.html#home">Home</a></li>
                    <li><a class="aTagNav" href="../index.html#about">About</a></li>
                    <li><a class="aTagNav" href="../index.html#services">Services</a></li>
                    <li><a class="aTagNav" href="../index.html#clients">Clients</a></li>
                    <li><a class="aTagNav" href="./gallery/gallery.html">Gallery</a></li>
                </ul>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>





    <div class="postersDiv">
        <h1 class="heading1">Our Materials</h1>
        <section class="postersSection">
            <img class="posterImage" src="../img/MATTERS/Annai_jewellers.webp" alt="Annai_jewellers">
            <img class="posterImage" src="../img/MATTERS/APC_COLLEGE.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/Asir_Automobiles.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/Charles_Motors.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/Co_Oparative bank.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/HOLY_CROSS_CALENDER.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/ICE_KING_OF_KINGS.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/KING_OF_KINGS.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/LG.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/Pearl_Honda.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/saravana_salt.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/Sathya.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/Sathya_Mobiles.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/SHRIRAM.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/Suresh IAS.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/SUSEE BAJAJ.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/TMB.webp" alt="">
            <img class="posterImage" src="../img/MATTERS/VVD.png" alt="">
        </section>
    </div>




    <section class="gallerySection">
        <div class="gallery">
            <h1>G<span>alle</span>ry</h1>
            <div class="galleryDiv">
                <div class="galleryBox galleryBox1"></div>
                <div class="galleryBox galleryBox2"></div>
                <div class="galleryBox galleryBox3"></div>
                <div class="galleryBox galleryBox4"></div>
                <div class="galleryBox galleryBox5"></div>
                <div class="galleryBox galleryBox6"></div>
                <div class="galleryBox galleryBox7"></div>
                <div class="galleryBox galleryBox8"></div>
                <div class="galleryBox galleryBox9 showMore1"></div>
                <div class="galleryBox galleryBox10 showMore1"></div>
                <div class="galleryBox galleryBox11 showMore1"></div>
                <div class="galleryBox galleryBox12 showMore1"></div>
                <div class="galleryBox galleryBox13 showMore1"></div>
                <div class="galleryBox galleryBox14 showMore1"></div>
                <div class="galleryBox galleryBox15 showMore1"></div>
                <div class="galleryBox galleryBox16 showMore1"></div>
            </div>
            <p class="galleryaTag">Show More</p>
            <!-- <p class="galleryaTag galleryaTag1">Show Less</p> -->
        </div>
    </section>


    <footer>
        <div class="footerclass">
            <h1>Bra<span>bupri</span>nts</h1>
            <h3>You Can Reach Us At</h3>
            <p class="footerptag">Address</p>
            <p><i>no 123 Lorem ipsum dolor sit amet, consectetur</i></p>
            <div class="iconsSocial">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>






        <script src="./gallery.js"></script>
        <script src="../nav/nav.js"></script>
</body>
</html>