<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/carouseledit.admin.css">
    <link rel="stylesheet" href="../styles/nav.admin.css">

    <title>Show Client</title>
</head>

<body>
    <header>
        <nav class="navMain">
            <div class="content">
                <div class="logo">
                    <a href="/client"><img class="logoBrabu" src="../img/logo.png" alt="" /></a>
                </div>
                <ul class="navLinks">
                    <li><a href="/client">Our Clients</a></li>
                    <li><a href="/carousel">Add Carousel</a></li>
                    <li><a href="/client/new">Add Client</a></li>
                    <li><a href="/blog">Add Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <h1 class="honetag">Carousel Image</h1>
        <div class="mainDiv">
            <img class="imageOfCarousel" src="<%=carousels.url%>" alt="">

            <form action="/carousel/<%= carousels._id %>?_method=DELETE" method="POST">
                <button class="deleteButton">Delete</button>
            </form>
        </div>
    </section>
</body>

</html>