<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/carousel.admin.css">
    <link rel="stylesheet" href="../styles/nav.admin.css">
    <link rel="stylesheet" href="../styles/card.carousel.admin.css">
    <title>Add Carousel</title>
</head>

<body>
    <header>
        <nav class="navMain">
            <div class="content">
                <div class="logo">
                    <a href="/client"><img class="logoBrabu" src="../img/logo.png" alt="" /></a>
                </div>
                <ul class="navLinks">
                    <li><a href="/client">Our Clients</a></li>
                    <li><a href="/carousel">Add Carousel</a></li>
                    <li><a href="/client/new">Add Client</a></li>
                    <li><a href="/blog">Add Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="mainDiv">
            <div class="fixedDiv">
                <h1 class="hone">Carousel</h1>
                <form action="/carousel" method="POST" enctype="multipart/form-data">
                    <div class="inputAndLabel">
                        <label class="label" for="carouselImage">Add Carousel : </label>
                        <input class="labelInput" type="file" name="carouselImage" id="carouselImage">
                    </div>
                    <div class="buttonDiv">
                        <button class="carouselButton">Add Carousel</button>
                    </div>
                </form>
            </div>



            <div class="carouselInImages">
                <% carousels.forEach(element=> { %>
                    <div class="carouselItem">
                        <a class="d-block w-100" href="/carousel/<%= element._id %>">
                            <img class="carouselImageimg" src="<%= element.url %>" alt="">
                            <img class="carouselImageimg" src="<%= element.url %>" alt="">
                            <img class="carouselImageimg" src="<%= element.url %>" alt="">
                        </a>
                    </div>
                    <% }) %>
            </div>



        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>