<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/teamnew.admin.css">
    <link rel="stylesheet" href="../../styles/nav.admin.css">
    <title>Edit Team</title>
</head>

<body>
    <header>
        <nav class="navMain">
            <div class="content">
                <div class="logo">
                    <a href="/client"><img class="logoBrabu" src="../../img/logo.png" alt="" /></a>
                </div>
                <ul class="navLinks">
                    <li><a href="/client">Our Clients</a></li>
                    <li><a href="/carousel">Add Carousel</a></li>
                    <li><a href="/client/new">Add Client</a>
                    <li><a href="/blog">Add Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <h1 class="honeEdit">Edit Team</h1>
        <div class="mainDiv">
            <form action="/team/<%=teams._id%>/<%= teams.imageTeam.filename.split("/")[1] %>?_method=PUT" method="POST"
                enctype="multipart/form-data">
                <div class="inputAndLabel">
                    <label class="label" for="name">Name : </label>
                    <input type="text" id="name" name=teams[name] value="<%= teams.name %>">
                </div>
                <div class="inputAndLabel">
                    <label class="label" for="job">Job : </label>
                    <input type="text" id="job" name=teams[job] value="<%= teams.job %>">
                </div>
                <div class="inputAndLabel">
                    <label class="label" for="imageTeam">Image</label>
                    <input type="file" name="imageTeam" id="imageTeam">
                </div>
                <button>Update Team</button>
            </form>
        </div>
    </section>
</body>

</html>